In [28]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [29]:
tips=sns.load_dataset('tips')

In [30]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [31]:
# now let's findout the relationship between sex ans smoker

In [32]:
# Let's create the contigency table

sex_smoker=pd.crosstab(index=tips['sex'],columns=tips['smoker'])
sex_smoker

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [33]:
# now let's perform the chi2 test to findout the relationship betwwen sex and smoker columns.
# here we have 2 hypothesis, the NULL hypothesis says that there is no relationship between sex and smoker columns
# and the alternate hypothesis says that both the sex and smoker columns are related to each other.
# to justify which hypothesis is TRUE we will have a singnificance value which is the p value, also known as alpha which 
# we are setting as 0.05
# so if p< 0.05 then we will reject the NULL hypothesis and will accept the alternate hypothesis.

In [34]:
# now let's perform the chi2 test

In [35]:
from scipy import stats

In [38]:
sex_smoker.iloc[1].values

array([33, 54], dtype=int64)

In [39]:
(chi2,p_value,df,_)=stats.chi2_contingency([sex_smoker.iloc[0].values,sex_smoker.iloc[1].values])

In [41]:
print(chi2)
print(p_value)
print(df)

0.008763290531773594
0.925417020494423
1

In [42]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
# now let's findout the relstionship between smoker and day

In [44]:
# let'screate the contigency table

smoker_day=pd.crosstab(index=tips['smoker'],columns=tips['day'])
smoker_day

day     Thur  Fri  Sat  Sun
smoker
Yes       17   15   42   19
No        45    4   45   57

In [46]:
smoker_day.iloc[1].values

array([45,  4, 45, 57], dtype=int64)

In [47]:
# now let's perform the chi2 test

(Chi2,p_val,DF,_)=stats.chi2_contingency([smoker_day.iloc[0].values,smoker_day.iloc[1].values])

In [48]:
print(Chi2)
print(p_val, "which is around'0.00001056757'")
print(DF)

25.787216672396262
1.0567572499836523e-05 which is around'0.00001056757'
3

In [27]:
# here the p value is way less than 0.05 which means that smoker and day columns are highly related